@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brevo-light: #FFFFFF;
  --color-brevo-green: #00925D;
  --color-brevo-dark: #0B1221;
  --color-brevo-dark-green: #0B1221;
  --color-brevo-blue: #0068FF;
}

body {
  background-color: var(--color-brevo-light);
  color: rgb(17 24 39);
}